<div class="jumbotron py-3">
    <h5 class="display-4 text-center mb-3"><i class="fas fa-clipboard-check"></i> My Todos</h5>
    <h5 (click)="this.open(0)"><i class="fas fa-plus-square mr-3"></i> Create New Todo</h5>
</div>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Content</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todo of this.todos">
                    <td>
                        <span *ngIf="todo.status; then loggedIn; else loggedOut"></span>
                        <ng-template #loggedIn>
                            <span>
                                <i class="fas fa-check-square completed"></i>
                            </span>
                          </ng-template>
                          <ng-template #loggedOut>
                            <span>
                                <i class="fas fa-spinner loading"></i>
                            </span>
                          </ng-template>
                    </td>
                    <td (click)="populateForm(todo)">{{ todo.title }}</td>
                    <td (click)="populateForm(todo)">{{ todo.author }}</td>
                    <td (click)="populateForm(todo)">{{ todo.content }}</td>
                    <td (click)="populateForm(todo)">{{ todo.status }}</td>
                    <td>
                        <i class="fa fa-trash-o fa-lg text-danger" (click)="onDelete(todo._id)"></i>
                    </td>
                    <td>
                        <i class="fa fa-pencil-alt fa-lg text-danger" (click)="this.open(0, todo._id)"></i>
                    </td>
                    <td>
                        <i class="fa fa-eye fa-lg text-danger" (click)="this.open(1, todo._id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-modal *ngIf="this.displayedModal"></app-modal>