<div class="modal-header">
  <h4 class="modal-title" id="modal-primary-title">{{ dialogBox.title }}</h4>
  <i class="fas fa-times-circle" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></i>
</div>
<div class="modal-body centered">
  <p *ngIf="!this.checkForm()" class="text-danger">All fields are mandatory*</p>
  <form>
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="title" class="form-control" [(ngModel)]="this.form.title" required>
    </div>
    <div class="form-group">
      <label>Author</label>
      <input type="text" name="author" class="form-control" [(ngModel)]="this.form.author" required>
    </div>
    <div class="form-group">
      <label>Content</label>
      <input type="text" name="content" class="form-control" [(ngModel)]="this.form.content" required>
    </div>
    <div class="form-group">
      <label>Task Status (Completed)</label>
      <select class="form-control" name="selectTaskStatus" [(ngModel)]="this.form.status">
          <option [ngValue]="false">False</option>
          <option [ngValue]="true">True</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">{{ this.dialogBox.buttonOne }}</button>
  <button type="button" class="btn btn-primary" (click)="doAction()">{{ this.dialogBox.buttonTwo }}</button>
</div>